@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(9, 61, 63);
  width: auto;
  background: linear-gradient(to bottom, #7dc0c6, #679e9b);
  background-image: url('../public/weeding-back.webp');
  background-size: cover;
  background-attachment: fixed;
}
